// 屬性
.type-normal {
    --color: rgb(184, 184, 184);
}

.type-fighting {
    --color: rgb(250, 158, 83);
}

.type-flying {
    --color: rgb(152, 196, 246);
}

.type-poison {
    --color: rgb(159, 91, 222);
}

.type-ground {
    --color: rgb(160, 95, 45);
}

.type-rock {
    --color: rgb(174, 169, 133);
}

.type-bug {
    --color: rgb(172, 186, 62);
}

.type-ghost {
    --color: rgb(126, 77, 129);
}

.type-steel {
    --color: rgb(95, 145, 168);
}

.type-fire {
    --color: rgb(234, 75, 67);
}

.type-water {
    --color: rgb(87, 143, 239);
}

.type-grass {
    --color: rgb(100, 180, 63);
}

.type-electric {
    --color: rgb(245, 211, 89);
}

.type-psychic {
    --color: rgb(248, 123, 158);
}

.type-ice {
    --color: rgb(112, 213, 251);
}

.type-dragon {
    --color: rgb(83, 96, 217);
}

.type-dark {
    --color: rgb(96, 84, 81);
}

.type-fairy {
    --color: rgb(247, 162, 255);
}

// 種族值
.stat-hp {
    --bg: rgb(213, 245, 186);
    --bar: rgb(172, 217, 120);
    --border: rgb(144, 187, 95);
}

.stat-attack {
    --bg: rgb(246, 226, 156);
    --bar: rgb(241, 205, 89);
    --border: rgb(208, 176, 71);
}

.stat-defense {
    --bg: rgb(241, 188, 129);
    --bar: rgb(206, 140, 72);
    --border: rgb(157, 101, 46);
}

.stat-special-attack {
    --bg: rgb(172, 211, 217);
    --bar: rgb(117, 192, 206);
    --border: rgb(78, 145, 157);
}

.stat-special-defense {
    --bg: rgb(143, 168, 202);
    --bar: rgb(101, 143, 200);
    --border: rgb(72, 109, 161);
}

.stat-speed {
    --bg: rgb(189, 158, 212);
    --bar: rgb(154, 90, 201);
    --border: rgb(118, 63, 157);
}
